---
layout: mainpage
---

<script>
  // import Notes from "./Notes.svx";
  let list = [1, 2, 3, 4, 5];
  export let data;
  let items = [];
</script>


<!-- 

for svx extension
{
              "begin": "^(?=\\s*[{#]\\w*)",
              "end": "(?<=})",
              "contentName": "source.svelte",
              "patterns": [{ "include": "source.svelte" }]
            },

 -->

{#each data.myPages as item}
<svelte:component this={item.newbody}></svelte:component>
{/each}

<style>
</style>