```svelte example Wrapper="/src/lib/Example.svelte"
<script>
  let count = 1;

  function increment() {
    count++;
  }
  function decrement() {
    count--;
  }
</script>

<button on:click={decrement}>-</button>
{count} * 2 = {count * 2}
<button on:click={increment}>+</button>
```