---
title: "test"
author: henrikvilhelmberglund
authorlink: github.com/henrikvilhelmberglund/
date: 2023-02-07
layout: notes
---

<script>
  import App from "./App.svelte";
  import AppRaw from "./App.svelte?raw";
  import App2 from "./App2.svelte";
  import App2Raw from "./App2.svelte?raw";
  import App3 from "./App3.svelte";
  import App3Raw from "./App3.svelte?raw";
  import App4 from "./App4.svelte";
  import App4Raw from "./App4.svelte?raw";
  import ShowCode from "$lib/ShowCode.svelte";
  import ShowMany from "$lib/ShowMany.svelte";
</script>

<ShowMany name={[
{name: "App", comp:App, raw:AppRaw},
{name: "App2", comp:App2, raw:App2Raw},
{name: "App3", comp:App3, raw:App3Raw},
{name: "App4", comp:App4, raw:App4Raw}]} />
