

```svelte example Wrapper="/src/lib/Example.svelte"

<h2>My first Svelte component</h2>

<p>Hello World</p>

<a href="https://www.youtube.com/lihautan">Link to Li Hau's youtube</a>
<a href="https://www.youtube.com/@henrikvilhelmberglund">Link to my youtube</a>

```
